<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="windowW" value="1366"></add>
    <add key="windowH" value="768"></add>
  </appSettings>
</configuration>